.branchenBtn{
  border-radius: 25px !important;
}


#branchenHint{
  position: absolute;
  margin: 0 auto;
  width: 50vw;
  top: 50%;
  left: 50%;
  color: white;
  opacity: .5;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 2.5vmin;
  letter-spacing: 1px;
  line-height: 3.2vmin;
  text-align: center;
  margin-left: -25vw;
  margin-top: 4vh;
}

#activeBranchen{
  display:inline;
  margin-left: 10px;
  white-space: nowrap;
}

#closeX{
  font-size:38px;
}

#plus-button-text{
  border: 1px solid white;
	font-size: 12px;
	height: 2.0em;
	width: 2.0em;
	border-radius: 999px;
	position: relative;
}

#plus-button-text:after,
#plus-button-text:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#plus-button-text:before {
  height: 1em;
  width: 0.2em;
}

#plus-button-text:after {
  height: 0.2em;
  width: 1em;
}

#plus-button {
  /*background-color: #1779BA;*/
  /* font-size: 12px; */
  height: 2.7em;
  width: 2.7em;
  border-radius: 999px;
  position: relative;
  margin-left: 3.5vw;
  z-index: 31;
  /* margin-top: 20px; */
  /* margin-bottom: 2.5vh; */
  cursor: pointer;
  transition: background-color 0.25s ease-out,color 0.25s ease-out;
}

#plus-button:after,
#plus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#plus-button:before {
  height: 1em;
  width: 0.2em;
}

#plus-button:after {
  height: 0.2em;
  width: 1em;
}

#plus-button.open{
  transform: rotate(45deg);
  transition: transform 0.2s linear;
}

label{
  color: white !important;
}
