.circleChoose{
 color: white;
 background-color: transparent;
 width: 45%;
 display: inline-block;
 margin-top: 3%;
 margin-bottom: 7%;
}

.circleChoose:focus{
background-color: rgba(19,23,41,0.93);
}

#donuts{
  display:flex;
}

#donut1{
  width: 50%;
  text-align: center;
}

#donut2{
  width: 50%;
  text-align: center;
}
