#mapAction{
  list-style: none;
}

ul li a {
font-weight: normal;
color: white;
}

ul li a:active {
font-weight: bold;
}

.highlight{
  font-weight: bold;
}

circle {
  stroke: rgba(255, 255, 255, 0.55);
  fill: rgba(255, 255, 255, 0.55);
}

.description {
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  line-height: 25px;
  margin: 0 auto;
  color: black;
  box-shadow: 0 0 0 1px #eee;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.description.active {
  display: flex;
}
.description:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}




.container {
  margin: 5%;
  max-width: 300px;
  text-align: center;
}

.switchlabel {
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .7) !important;
  text-transform: uppercase;
  display: inline-block;
}

.switchlabel:hover {
  cursor:pointer;
  color: rgba(255, 255, 255, 1) !important;
  transition: 0.3s 0.05s;
}

.input-switch {
  display: inline-block;
}
.input-switch .input {
  position: absolute;
  visibility: hidden;
}
.input-switch .input + .switch {
  position: relative;
  height: 10px;
  width: 45px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #e4ecfa;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s 0.05s;
}
.input-switch .input + .switch::before, .input-switch .input + .switch::after {
  content: "";
  position: absolute;
  transition: 0.35s;
}
.input-switch .input + .switch::before {
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.input-switch .input + .switch::after {
  left: 5px;
  top: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
  transform: translateY(-50%);
  opacity: 1;
}
.input-switch .input + .switch:hover::after {
  transform: translateY(-50%) scale(1.1);
}
.input-switch .input:checked + .switch {
  background-color: #FFFFFF;
}
.input-switch .input:checked + .switch::before {
  width: calc(100% - 5px);
  background-color: #FFFFFF;
}
.input-switch .input:checked + .switch::after {
  left: calc(100% - (20px + 5px));
  background-color: #FFFFFF;
}
