@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,800');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  padding: 20px;
  background-color: #12111F;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.8vmin;
  text-align: block;
  letter-spacing: 2px;
  line-height: 2.5vmin;
  color: white;

  &.disable-click {
    pointer-events: auto;
  }
}

h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 5vmin;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;

  .sectionNumber {
    font-weight:800 !important;
    margin-left: -75px;
  }

  strong {
    font-weight: 800;
  }

  .line2 {
    display: block;
    margin-left: 1.5em;
    margin-top: -1rem;
  }
}

h2 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 3vmin;
  text-align:left;
}

h3{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 2vmin;
  text-align:left;

  strong {
    font-weight: 800;
  }
}

.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;


  img, .bg {


  }

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background:
      linear-gradient(
        rgba(18,17,31,.95),
        rgba(18,17,31,.95)
    ),
      url('../img/digitalisierung-der-industrie.jpg')
      no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
  }
}

.number {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 9vmin;
}

.number-align{
  text-align:center;
  align-items: center;
}

#topbar {
  position: fixed;
  left: 1rem;
  top: 0.5rem;
  height: 40px;
  z-index: 70;
  width: 100%;
  margin: 0px;

  .info {
    position: fixed;
    right: 1rem;
    top: 0.5rem;
  }
}

#bottombar {
  position: absolute;
  text-align: right;
  right: 1rem;
  bottom: 0.5rem;
  height: 40px;
  z-index: 70;
  width: 100%;
  margin: 0px;
}

#navigation-cont {
  position: absolute;
  right: 3rem;
  top: 0;
  bottom: 0;
  width: 15px;
  display: flex;
  align-items: center;
  z-index: 99;
}

#navigation {
  color: white;
  list-style-type: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  width: 15px;
}

#navigation li {
  margin: 20px 0;
  padding: 5px 0;
}

#navigation li span {
  display: none;
}

#navigation li.active span {
  display: inline-block;
  margin-bottom: 25px;
}

#navigation li .pagination {
  width: 3px;
  height: 3px;
  background-color: white;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}


#navigation li {
  cursor: pointer;
}

#navigation li.active {
  pointer-events: none;
}

#navigation li.active .pagination {
  width: 1px;
  height: 100px;
}


canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #12111F;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 100;
top: 0;
right: 0;
background-color: rgba(19,23,41, 0.93);
overflow-x: hidden;
transition: 0.8s;
  -webkit-transition: 0.8s;
}


#map-svg, #mapSVG {
  opacity: 0.55;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 460px;
  width: 410px;

  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

.map-svg-second-slide {
  right: 20px !important;
  bottom: -50px !important;
  height: 600px !important;
  width: 500px !important;
}


.section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

    p {
      width: 73%;
    }

}

.wrapper, .guide-wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 460px;
  position: relative;
  /*overflow: hidden;*/
}

#section-1 {
  width: 660px;
  height: 460px;
  float: left;
  padding: 80px 30px;
}

#section-2, #section-3{
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  //right: 0;
  width: 660px;
  display: block;
  padding: 0px 30px;
}

#compareDiagramm {
  width: 70vw !important;
  height: 50vh !important;
}
/* ---- bar chart ---- */
@keyframes grow-width {
  from {
    width: 0;
  }
}
main {
  width: 400px;
  margin: 30px auto;
  padding: 10px 40px 50px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.style-1 {
  list-style-type: none;
  padding: 0;
  width: 350px;
  li {
    position: relative;
    height: 50px;
    a, span {
      display: block;
      border-bottom: 5px solid #FFFFFF;
      padding-bottom: 5px;
    }
    a {
      font-style: normal;
      border-bottom-color: #DB6B6B;
      position: absolute;
      overflow: visible;
      animation: grow-width 2s;
    }
    span {
      text-align: right;
      margin-top:-6%;
    }

    .industrie40-color{
      border-bottom-color: $red;
    }
    .iot-color{
      border-bottom-color: $blue;
    }
    .smartServices-color{
      border-bottom-color: $mdgreen;
    }
    .bigData-color{
      border-bottom-color: $yellow;
    }
    .robotikUndSensorik-color{
      border-bottom-color: $orange;
    }
    .ki-color{
      border-bottom-color: $purple;
    }
  }
}
/* ---- bar chart ---- */
@keyframes grow-width {
  from {
    width: 0;
  }
}
main {
  width: 400px;
  margin: 30px auto;
  padding: 10px 40px 50px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.style-1 {
  list-style-type: none;
  padding: 0;
  width: 350px;
  li {
    position: relative;
    height: 50px;
    a, span {
      display: block;
      border-bottom: 5px solid #FFFFFF;
      padding-bottom: 5px;
    }
    a {
      font-style: normal;
      border-bottom-color: #DB6B6B;
      position: absolute;
      overflow: visible;
      animation: grow-width 2s;
    }
    span {
      text-align: right;
      margin-top:-6%;
    }

    .industrie40-color{
      border-bottom-color: $red;
    }
    .iot-color{
      border-bottom-color: $blue;
    }
    .smartServices-color{
      border-bottom-color: $mdgreen;
    }
    .bigData-color{
      border-bottom-color: $yellow;
    }
    .robotikUndSensorik-color{
      border-bottom-color: $orange;
    }
    .ki-color{
      border-bottom-color: $purple;
    }
  }
}