@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600,800');

@-webkit-keyframes fadeInMap {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInMap {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInMap {
  -webkit-animation-name: fadeInMap;
  animation-name: fadeInMap;
}

@-webkit-keyframes fadeOutMap {
  0% {
    opacity: 0.55;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutMap {
  0% {
    opacity: 0.55;
  }

  100% {
    opacity: 0;
  }
}

.fadeOutMap {
  -webkit-animation-name: fadeOutMap;
  animation-name: fadeOutMap;
}



*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  padding: 20px;
  background-color: #12111F;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.7vmin;
  text-align: block;
  letter-spacing: 1px;
  line-height: 2.0vmin;
  color: white;

  &.disable-click {
    pointer-events: auto;
  }
}

h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 5vmin;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 2px;

  .sectionNumber {
    font-weight:800 !important;
    margin-left: -75px;
  }

  strong {
    font-weight: 800;
  }

  .line2 {
    display: block;
    margin-left: 1.5em;
    margin-top: -1rem;
  }
}

h2 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5vmin;
  text-align: left;
}

h3{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 2vmin;
  text-align: left;

  strong {
    font-weight: 800;
  }
  &.skinny {
    font-weight: 200 !important;
  }
}

#info-button{
  font-size: 3vmin;
}

.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;


  img, .bg {


  }

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background:
      linear-gradient(
        rgba(18,17,31,.90),
        rgba(18,17,31,.90)
    ),
      url('../img/bg2.jpg')
      no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
  }
}

#topbar {
  position: fixed;
  left: 1rem;
  top: 0.5rem;
  height: 80px;
  z-index: 70;
  width: 100%;
  margin: 0px;

  .info {
    position: fixed;
    right: 1rem;
    top: 0.5rem;
  }
}

#bottombar {
  position: absolute;
  text-align: right;
  right: 1rem;
  bottom: 0.5rem;
  height: 40px;
  z-index: 70;
  width: 100%;
  margin: 0px;
}

#navigation-cont {
  position: absolute;
  right: 3rem;
  top: 0;
  bottom: 0;
  width: 15px;
  display: flex;
  align-items: center;
  z-index: 69;
}

#navigation {
  color: white;
  list-style-type: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  width: 15px;
  margin-left: 0 !important;
}


#navigation li {
  margin: 5px 0;
  padding: 15px 0;
}

#navigation li span {
  display: none;
}

#navigation li.active span.sectionNumber {
  display: inline-block;
  margin-bottom: 25px;
}

#navigation li .pagination {
  width: 3px;
  height: 3px;
  background-color: white;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/*#navigation li.active .sectionTitle,
#navigation li .sectionTitle { 
display: none; }*/

#navigation li.active .sectionTitle {
  opacity: 0 !important;
}

#navigation li .sectionTitle {
  display: inline-block;
  float: right;
  opacity: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  transition: transform .2s,opacity .2s;
  margin-right: 10px;
  margin-top: -13px;
  padding-right: .7em;
  transform: scale(0.6);
  height: 40px;
  width: 200px;
  text-align: right;
}

#navigation li:hover > .sectionTitle {
  opacity: 1;
  transform: scale(1);
  transform-origin: 100% 50%;

}


#navigation li {
  cursor: pointer;
}

#navigation li.active {
  pointer-events: none;
}

#navigation li.active .pagination {
  width: 1px;
  height: 100px;
}

#impressum {
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: 200;
  }
  h3 {
    font-size: 2.5vmin;
    font-weight: 600;
    //color: $primary-color;
    opacity: .8;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
  }
  .impressum-wrapper {
    margin: 0 auto;
    position: relative;
    top: 23.5vh;
    //width: 75vw;
  }
  p {
    line-height: 3vmin;
    strong {
      font-weight: 400;
    }
  }
}

#studyinfo {
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: 200;
  }
  h3 {
    font-size: 2.5vmin;
    font-weight: 600;
    //color: $primary-color;
    opacity: .8;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
  }
  .studyinfo-wrapper {
    margin: 0 auto;
    position: relative;
    top: 21vh;
    //width: 75vw;
  }
  p {
    margin-top: 20px;
    font-size: 2.2vmin;
    line-height: 3vmin;
    font-weight: 200;
    strong {
      font-weight: 400;
    }
  }
  .number {
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 9vmin;
  }

  .number-align{
    text-align:center;
    align-items: center;
  }
}

canvas{ display: block; vertical-align: bottom; }
/* ---- particles.js container ---- */
#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 17, 31);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 100;
top: 0;
right: 0;
background-color: rgba(18,17,31, 0.97);
overflow-x: hidden;
transition: 0.8s;
  -webkit-transition: 0.8s;
}

.close-button{
  color:#1779ba;
  font-size: 7vmin;
}

#map-svg, #mapSVG {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 460px;
  width: 410px;

  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

 &.map-svg-second-slide {
  opacity: 1 !important;
  right: -20px !important;
  bottom: -50px !important;
  height: 600px !important;
  width: 500px !important;
  }
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

    /*p {
      width: 73%;
    }*/

}

.wrapper, .guide-wrapper {
  width: 1024px;
  margin: 0 auto;
  height: 460px;
  position: relative;
  /*overflow: hidden;*/
}

#section-1 {
  height: 460px;
  float: left;
  padding: 40px 30px 80px 0px;
  p {
    width: 520px;
    margin-left: 78.75px;
  }
  .flex-container {
    margin-top: 30px; 
    margin-left: 78.75px;
    width: 77%
  }
  .button:not(.hollow) {
    background: linear-gradient(110deg, #0977bc 75%, #1484ca 25%);
    //transition: background 1s;
    //border: none;
    opacity: .85;
    transition: opacity 0.25s ease-out,color 0.25s ease-out;
    .fa {
      position: relative;
      right: -40px;
    }
    &:hover {
      opacity: 1;
    }

  }
  .button.hollow {
      .fa {
        position: relative;
        right: -40px;
      }
    }
}

#section-map,
#section-compare,
#section-industrie40,
#section-iot,
#section-smartServices,
#section-bigData,
#section-robotikUndSensorik,
#section-ki,
#section-circlecompare {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -35vw;
  display: block;
  padding: 0px 3vw;
}

#section-compare,
#section-industrie40,
#section-iot,
#section-smartServices,
#section-bigData,
#section-robotikUndSensorik,
#section-ki,
#section-circlecompare,
#chart-wrapper
{
    padding-right: .9375rem;
    padding-left: .9375rem;
    min-width: 70vw;
}

#section-industrie40,
#section-iot,
#section-smartServices,
#section-bigData,
#section-robotikUndSensorik,
#section-ki {
  height: 70vh;
  width: 75vw;
}

#section-map{
  p {
    width: 660px;
    padding-left: .5em;
  }
}

#chart-wrapper {
  margin-top: 30px;
}

.industrie40-image{
  fill:none;
  stroke: #e9242f;
  stroke-width:3;
  stroke-miterlimit:10;
}

.iot-image{
  fill:none;
  stroke: #00c7ff;
  stroke-width:3;
  stroke-miterlimit:10;
}

.smartServices-image{
  fill:none;
  stroke: #56e39f;
  stroke-width:3;
  stroke-miterlimit:10;
}

.bigData-image{
  fill:none;
  stroke: #ffdb5b;
  stroke-width:3;
  stroke-miterlimit:10;
}

.robotikUndSensorik-image{
  fill:none;
  stroke: #fe7f2d;
  stroke-width:3;
  stroke-miterlimit:10;
}

.ki-image{
  fill:none;
  stroke: #a42cd6;
  stroke-width:3;
  stroke-miterlimit:10;
}


/* ---- keyfacts ---- */
.keyfact-box {
    //cursor:pointer;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 250px;
  }

.keyfact-headline{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 2.2vmin;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.4vmin;
  //border-bottom: 1px solid #ffffff;
  //margin-top:10px;
  margin-bottom: 3px !important;
  cursor: pointer;

  &.right {
    text-align: left;
  }
  &.left {
    text-align: right;
  }

}
.keyfact-subheadline{
  color: white;
  opacity: .5;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 1.5vmin;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.7vmin;
  cursor: pointer;

  &.right {
    text-align: left;
  }
  &.left {
    text-align: right;
  }

}

.keyfact-fact{
  //visibility: hidden;
  display:flex !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: -15px;
}
.keyfact-numbers{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 7vmin;
}

.keyfact-percent{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 5vmin;
}


/* ---- bar chart ---- */
@keyframes grow-width {
  from {
    width: 0;
  }
}
main {
  width: 400px;
  margin: 30px auto;
  padding: 10px 40px 50px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

#map-path {
  transition: all 0.5s;
}

.industrie40-image,
.iot-image,
.smartServices-image,
.bigData-image,
.robotikUndSensorik-image,
.ki-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    height: 40vh;
    margin-left: -250px;
    margin-top: -150px;
  .st0.stroke-white,
  .st1.stroke-white,
  .st2.stroke-white,
  .st3.stroke-white,
  .st4.stroke-white,
  .st5.stroke-white,
  .st6.stroke-white,
  .st7.stroke-white,
  .st8.stroke-white,
  .st9.stroke-white,
  .st10.stroke-white,
  .st11.stroke-white,
  .st12.stroke-white,
  .st13.stroke-white,
  .st14.stroke-white,
  .st15.stroke-white,
  .st16.stroke-white,
  .st17.stroke-white,
  .st18.stroke-white,
  .st19.stroke-white,
  .st20.stroke-white {
    //stroke: #fff !important;
    opacity: .3 !important;
  }
}

#section-industrie40 {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $red !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.industrie40-image .stroke-colored {
  stroke: $red !important;
}

#section-iot {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $blue !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.iot-image .stroke-colored {
  stroke: $blue !important;
}

#section-smartServices {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $mdgreen !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.smartServices-image .stroke-colored {
  stroke: $mdgreen !important;
}

#section-bigData {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $yellow !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.bigData-image .stroke-colored {
  stroke: $yellow !important;
}

#section-robotikUndSensorik {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $orange !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.robotikUndSensorik-image .stroke-colored {
  stroke: $orange !important;
}

#section-ki {
  .keyfact-box.isActive,
  .keyfact-box:hover {
    .keyfact-headline, 
    .keyfact-subheadline {
      color: $purple !important;
    }
  }
  .keyfact-box.isActive .keyfact-fact{
    //visibility: visible;
    opacity: 1;
  }
}

.ki-image .stroke-colored {
  stroke: $purple !important;
}

.stroke-width-3 {
  stroke-width: 3;
}

.style-1 {
  list-style-type: none;
  padding: 0;
  width: 370px;
  //margin-top: -20px;

  li {
    position: relative;
    height:50px;
    opacity: .55;
    //margin-bottom:12px;
    transition: all 0.3s;
    &:hover {
      opacity: .8 !important;
    }
    &.active {
      opacity: 1 !important;
      transition: all 0.5s;
    }
    &.li-industrie40.active{
      .li-svg {
        fill: $red !important;
      }
    }
    &.li-iot.active{
      .li-svg {
        fill: $blue !important;
      }
    }
    &.li-smartServices.active{
      .li-svg {
        fill: $mdgreen !important;
      }
    }
    &.li-bigData.active{
      .li-svg {
        fill: $yellow !important;
      }
    }
    &.li-robotikUndSensorik.active{
      .li-svg {
        fill: $orange !important;
      }
    }
    &.li-ki.active{
      .li-svg {
        fill: $purple !important;
      }
    }
    
    div {
      position:relative;
      top:-48px;

      .progress {
        background-color: rgba(92,101,135,.6);
        height: 5px;
        position: relative;
        top:5px;
        .progress-meter {
          animation: grow-width 2s;
          transition: all 0.5s;
          //color: transparent;
        }
      }

      em, span {
        display: block;
        transition: all 0.5s;
      }
      em {
        font-style: normal;
        position: absolute;
        overflow: visible !important;
        display: inline-block;
        white-space: nowrap;
      }
      span {
        text-align: right;
        //margin-top:-6%;
      }
    }
    .li-svg {
      stroke: #fff;
      fill: #fff;
      stroke-width: 0px;
      position: relative;
      left: -60px;
      //top: 8px;
      //margin-left: -70px;
      circle {
        fill: #252A4C;
        stroke: #252A4C;
      }
    }

  }
}

.container {
  margin-left: 75px;
  //max-width: 300px;
  //text-align: center;
}

.switchlabel {
  font-size: 2vmin;
  font-weight: 200;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, .7) !important;
  //text-transform: uppercase;
  display: inline-block;

  &.active {
    font-weight: 400;
    color: rgba(255, 255, 255, .8) !important;
  }
  &:hover {
    cursor:pointer;
    color: rgba(255, 255, 255, 1) !important;
    transition: 0.3s 0.05s;
  }
}

.input-switch {
  display: inline-block;

  .input {
    position: absolute;
    visibility: hidden;

    + .switch {
      position: relative;
      height: 10px;
      width: 50px;
      margin-right: 25px;
      margin-left: 25px;
      border-radius: 10px;
      background-color: #1779BA;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
      transition: 0.3s 0.05s;

      &::before, 
      &::after {
        content: "";
        position: absolute;
        transition: 0.35s;
      }
      &::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 20%;
        border-radius: 10px;
        background-color: #1779BA;
      }
      &::after {
        left: 5px;
        top: 50%;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: none;
        background-color: #FFFFFF;
        transform: translateY(-50%);
        opacity: 1;
      }

      &:hover::after {
        transform: translateY(-50%) scale(1.1);
      }
    }

    &:checked + .switch {
      background-color: #1779BA;

      &::before {
        width: calc(100% - 5px);
        background-color: #1779BA;
      }
      &::after {
        left: calc(100% - (20px + 5px));
        background-color: #FFFFFF;
      }
    }
  }
}

.branchenDropdown {
  margin-top:35px;
  white-space: nowrap;
}

#activeBranchen {
  height:30px;
  display:inline-block;
}
#branchenOverlay{
  position:absolute;
  z-index: 30;
  
  width: 60vw;
  background: rgba(19,23,41,0.97);
  display: block;
  
  padding-top: 40px;
  padding-left: 60px;
  padding-bottom: 50px;
  padding-right: 60px;
  margin-left: 3.8vw;
  margin-top: 0;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear,box-shadow 0.3s ease-out;

  #Dienstleistungen {
    margin-right: 3.5rem;
    //border-right: .5px solid rgba(255,255,255,.55);
  }

  h2 {
    font-size: 2.5vmin;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 15px;
  }

  .checkElement {
    //height: 3vmin;
    margin-bottom: .5rem;
    label {
      font-size: 1.9vmin;
      //margin-left: 15px;
      //position:relative;
      //top: -2px;
      &::before {
        top: 5px;
        } 
        &::after {
        //position:relative;
        top: 4px;
      }
    }
    
  }
}

#branchenOverlay.active{
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 0 2038px rgba(18,17,31,0.5); 
}

.branchenOverlayContent{
  display: flex;
}